torch
numpy
einops
soundfile
librosa
huggingface_hub
safetensors
voxcpm

# evaluation only
# faster-whisper
# jiwer
# datasets

# Voice Assistant dependencies
fastapi
uvicorn
pydantic
llama-cpp-python
